body{
    background-color: rgb(67, 196, 67);
}
h1{
    text-align: center;
}
input{
   margin: 20px 0;
   width: 100%;
   text-align: center;
   padding: 10px;
}
.tela{
   background-color: rgb(200, 229, 255);
   border-radius: 8px;
   padding: 40px;
   width: 250px;
}