body{
    background-color: rgb(102, 216, 102);
}
h1{
    text-align: center;
}
input{
   margin: 20px 0;
   width: 100%;
   text-align: center;
   padding: 10px;
   background-color: rgb(190, 188, 188);
}
.login{
   background-color: rgb(255, 255, 255);
   padding: 40px;
   width: 250px;
   float: right;
}
.botao{
    margin: 20px 0;
    width: 110%;
    text-align: center;
    padding: 10px;
    background-color: rgb(190, 188, 188); 
}
